AWS_REGION = "us-east-1"
AWS_PROFILE = "default"
DDB_PARAMS_TABLE = "/tndx/ddb/parameters"
DDB_RUNNER_TABLE = "/tndx/ddb/runner"
TWITTER_API_KEY = "/tndx/twitter/api/key"
TWITTER_API_SECRET = "/tndx/twitter/api/secret"
